Source: maxminddb
Section: python
Priority: optional
Maintainer: Cyril Brulebois <cyril@debamax.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all-dev,
 python3-setuptools,
 libmaxminddb-dev,
 python3-nose,
Standards-Version: 4.2.0
Homepage: http://www.maxmind.com/

Package: python3-maxminddb
Architecture: any
Depends:
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
Description: Reader for the MaxMind DB format
 FIXME: Long description.
