#! /usr/bin/make -f

export PYBUILD_NAME=maxminddb
%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	cp README.rst .pybuild/*/build/
	dh_auto_test
	rm -f .pybuild/*/build/README.rst
