#! /usr/bin/make -f

export PYBUILD_NAME=iosbackup
%:
	dh $@ --with python3 --buildsystem=pybuild

# Shipped in the tarball, modified after a build:
override_dh_clean:
	dh_clean
	rm -rf iOSbackup.egg-info/
