Source: mvt
Section: python
Priority: optional
Maintainer: Cyril Brulebois <cyril@debamax.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-adb-shell,
 python3-iosbackup,
Standards-Version: 4.2.0
Homepage: https://github.com/mvt-project/mvt

Package: python3-mvt
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
Description: Mobile Verification Toolkit
 FIXME: Long description.
