#! /usr/bin/make -f

export PYBUILD_NAME=influxdb-client
%:
	dh $@ --with python3 --buildsystem=pybuild

# setup.py declares tests, which require network services:
override_dh_auto_test:
	@echo "Skipping test suite."

# Shipped in the tarball, modified after a build:
override_dh_clean:
	dh_clean
	rm -rf influxdb_client.egg-info/
